version: "3.3"
services:
  pycrawler:
    build: .
    ports:
      - 8080:8080
    environment:
      DB_URL: mongodb://db
      AIRFLOW_HOME: /app
    volumes:
      - .:/app
  db:
    image: mongo:4.0-xenial
    ports:
      - 27018:27017
    volumes:
      - pycrawler:/data/db
volumes:
  pycrawler: